<!DOCTYPE html>
<html>
<head>
  <title>QAuthRubyClient</title>
  <%= stylesheet_link_tag    "q_auth_ruby_client/application", media: "all" %>
  <%= javascript_include_tag "q_auth_ruby_client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
